:root{
    --bitcoin-orange: #F7931A;
    --soft-orange: #FFE9D5;
    --secoundary-blue: #1A9AF7;
    --soft-blue: #E7F5FF;
    --warm-black: #201E1C;
    --warm-black-black: #282623;
    --grey: #BABABA;
    --off-white: #FAF8F7;
    --just-white: #FFFFFF;
    --off-grey: #757575;
    --semi-off-grey: #808080;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;   
}
body{
    font-family: 'DM Sans', sans-serif;
}
header{
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
    height: 295px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header img {
    margin: 4.2rem 0;
}
header h1 {
    font-size: 2.4rem;
    line-height: 26px;
    color: var(--just-white);
    text-align: center;
    margin: 0 2rem;
}
header p {
    color: var(--soft-orange);
    line-height: 1.8rem;
    font-size: 1.4rem;
    margin: 2.4rem 0;
    text-align: center;
}
header a{
    position: absolute;
    top: calc(295px - 25px);
    padding: 1.5rem;
    background-color: var(--just-white);
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--warm-black);
    border-radius: 4px;
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
}
.header--down-arrow-icon{
    margin: 0 1.4rem;

}
.section-cash{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--off-white);
}
.section-cash img {
    width: 19.5rem;
    margin-top: 5rem;
    margin-bottom: 4rem;
}
.section-cash h2 {
    font-size: 2.4rem;
    color: var(--warm-black);
    line-height: 2.4rem;
    margin-bottom: 2.4rem;
}
.section-cash .section-cash--description{
    margin: 0;
    margin-bottom: 46px;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: var(--off-grey);
}

/*Apply convention BEM */

.table__name{
    background-color: var(--off-white);
    font-size: 1.8rem;
    margin: 12px;
    font-weight: bold;
}
.table__name--cash{
    color: var(--bitcoin-orange);
}
.table__name--commission{
    color: var(--secoundary-blue)
}

td {
    width: 101px;
    height: 39px;
    background-color: var(--just-white);
    border-collapse: collapse;
    font-family: Inter;
    font-size: 1.6rem;
    color: var(--grey);
    text-align: left;
    padding-left: 12px;
}
.table__icon{
    display: inline-block;
    width: 12px;
    height: 12px;
    background-repeat: no-repeat;
    margin-left: 10.5px;
}
.table__icon--positive{
    background: url('../assets/icons/trending-up.svg');
}
.table__icon--negative{
    background: url('../assets/icons/trending-down.svg');
}
.table__prices{
    font-weight: 400;
    color: #757575;
}
.table__top-left{
    border-radius: 8px 0 0 0;
}
.table__top-right{
    border-radius: 0 8px 0 0;
}
.table__bottom-left{
    border-radius: 0 0 8px 0;
}
.table__bottom-right{
    border-radius: 0 0 0 8px;
}
.table__updated-bold{
    font-weight: bolder;
}
.table__updated{
    display: inline-block;
    padding: 8px;
    border-radius: 8px;
    margin-top: 16px;
    color: var(--warm-black);
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 65px;
}
.table__updated--cash{
    background-color: var(--soft-orange);
}
.table__updated--commission{
    background-color: var(--soft-blue);
}
.potato{
    width: 37.45px;
    height: 24.01px;
    display: inline-block;
    background-image: url('../assets/icons/batata.svg');
}
.potato-relative{
    position: relative;
    left: calc(50% - 18.725px);
    top: 10px;
}
.section-items{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 910px;
    text-align: center;
    background-color: var(--warm-black);
}
.section-items__title{
    color: var(--just-white);
    font-size: 2.4rem;
    line-height: 2.6rem;
    font-weight: bold;
    padding-top: 64px;
    margin: 0 20px;
}
.section-items__paragraph{
    color: var(--semi-off-grey);
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 500;
    padding-top: 24px;
    padding-bottom: 32px;
}
.section-items__container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.item{
    width: 90%;
    min-width: 288px;
    max-width: 400px;
    height: 152px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
    border-radius: 4px;
    background-color: var(--warm-black-black);
    padding-bottom: 16px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.item__icon{
    display: block;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    align-self: flex-start;
    margin: 16px;
}
.item__icon--watch{
    background: url('../assets/icons/clock.svg');
}
.item__icon--eye{
    background: url('../assets/icons/eye.svg');
}
.item__icon--cash{
    background: url('../assets/icons/dollar-sign.svg');
}
.item__icon--check{
    background: url('../assets/icons/check-circle.svg');
}
.item__title{
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 1.8rem;
    color: var(--just-white);
    align-self: flex-start;
    margin-left: 16px;
    margin-bottom: 10px;
}
.item__paragraph{
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: var(--semi-off-grey);
    text-align: left;
    margin-left: 16px;
    margin-right: 10px;
}
.photo{
    background: url('../assets/img/bitcoinbaby.png');
    width: 100%;
    min-width: 320px;
    height: 50vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.photo__description{
    text-align: center;
    font-size: 2.4rem;
    line-height: 2.4rem;
    color: var(--just-white);
    padding-top: 64px;
}

.plans{
    color: var(--off-white);
    text-align: center;
}
.plans__title{
    margin: 64px auto 24px auto;
    font-size: 2.4rem;
    line-height: 2.6rem;
    color: var(--warm-black);
}
.plans__paragraph{
    color: var(--off-grey);
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
    margin-bottom: 42px;
}

.plan{
    position: relative;
    width: 70%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 50px auto 0;
    padding: 0 15px;
    background-color: var(--just-white);
    border-radius: 8px;
    box-shadow:  0px 4px 8px rgba(89, 73, 30, 0.16);
    scroll-snap-align: center;
    margin: 20px;
}
.plan__title-pay{
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--warm-black);
}
.plans__container-slider{
    display: flex;
    height: 316px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity; 
}
.buttom-plan{
    position: absolute;
    width: 120px;
    height: 31px;
    top: -15px;
    left: calc(50% - 60px);
    background-color: var(--bitcoin-orange);
    border-radius: 8px;
    color: var(--just-white);
    display: inline-block;
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-weight: bold;
    padding: 6px;
}
.plan__price{
    display: inline-block;
    width: 190px;
    height: 60px;
    padding: 5px 0;
    font-family: Inter;
    font-weight: 700;
    font-size: 5.2rem;
    line-height: 6.4rem;
    letter-spacing: -0.08em;
    color: var(--warm-black-black);
}
.plan__cash-symbol{
    font-size: 1.2rem;
    font-weight: 300;
    position: relative;
    right: 6px;
    bottom: 25px;
}

.plan__savings{
    font-family: Inter;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: var(--off-grey);
    margin-top: 16px;
}
.plan__choise{
    width: 150px;
    height: 48px;
    margin-top: 20px;
    background-color: var(--off-white);
    border: 2px solid var(--bitcoin-orange);
    border-radius: 4px;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--warm-black);
}
.plan__arrow-symbol{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('../assets/icons/orange-right-arrow.svg');
    background-repeat: no-repeat;
    vertical-align: text-bottom;
}
footer{
    display: flex;
    height: 150px;
    background-color: var(--bitcoin-orange);
}
.footer__links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin-left: 15%;
}
.footer__link{
    text-decoration: none;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: var(--just-white);
    margin-bottom: 8px;
}
.footer__rights{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.footer__potato{
    margin-bottom: 8px;
}
.footer__right{
    font-weight: 500;
    color: var(--soft-orange);
    font-size: 0.8rem;
    line-height: 173%;
}
